<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champagne Albert Lebrun Collection Terroir</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div>
        <ul class="nav_bar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/winery">Winery</a></li>
            <li><a href="/bottle_info">Wine Info</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
        </ul>  
    </div> 
    <h1 class="title">Contact Us</h1>
    <br>
    <div class="winery_text_box">
        <div id="map_container">
        <img src="/static/images/map.JPG" alt="map of France">
        </div>
        <!-- <div class="contact_container"> -->
        <div class= "main_box_p contact_container">
            <p>Albert Lebrun</p>
            <p>customer_service@AlbertLeBrun.com</p>
            <h1>Contact Us</h1>
            <!-- Email confirm in terminal -->
            <form id="contact_form" action="{%url 'contact'%}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
        <!-- </div> -->
    </div>
</body>
</html>