<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champagne Albert Lebrun Collection Terroir</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div>
        <ul class="nav_bar">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/winery">Winery</a></li>
            <li><a href="/bottle_info">Wine Info</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
        </ul>  
    </div> 
    <h1 class="title">Contact Us</h1>
    <div class="winery_text_box">
        <div id="map_container">
            <p style="color:blue">>You will need a google map key to have google maps work</p>
            <!-- You will need a google map key to have google maps work -->
            <!-- <iframe
                width="450"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/view?key= YOUR OWN KEY HERE
                &center=48.973155446119065,4.012799265902889
                &zoom=16
                &maptype=satellite" allowfullscreen>
            </iframe> -->
        </div>
        <div class= "main_box_p">
            <p>We are located in Azive, France.</p>
            <p>customer_service@AlbertLaBrun.com</p>
            <p>1234 Rue Albert Labrun, Avize, France</p>
            <h1>Contact Us</h1>
            <!-- Email confirm in terminal -->
            <form action="{%url 'contact'%}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-actions">
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>