<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champagne Albert Lebrun Collection Terroir</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div>
        <ul class="nav_bar">
            <li><a href="/">Home</a></li>
            <li><a href="/winery">Winery</a></li>
            <li><a href="/bottle_info">Wine Info</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/email/contact">Contact Us</a></li>
        </ul>  
    </div>
    <img class="vineimg" src="/static/img/staircase.jpeg" alt="staircase image">
    <div class="about_paragraph">
        <div id="about_div">
            <h1>ABOUT</h1>
        </div>
        <p>Putting Nature in the heart of its action to bring the finest, is the ultimate desire of Maison Albert Lebrun by unveiling its organic Champagne. This cuvée is the latest creation from its prestigious Terroir Collection. This organic Champagne is made exclusively from organic viticulture to have a perfect harmony between earth, vineyards and the human. For the House, creating an organic Champagne is also part of a global process respectful of the environment, with the care for eco-friendly packaging.</p>
        <p>With this organic Champagne, Albert Lebrun is part of the engagement in the terroir and the meticulous respect of environment. The House surrounds itself with a pioneer in agrobiology in Champagne who has respected with passion the specifications of the organic farming* since 1971. This new viticulture excludes the harmful products for the environment by respecting soil, biodiversity, air and water. The perfect symbiosis of Nature and Human results in a most natural version of the wine which will reveal a Champagne with an exceptional purity during the tasting.</p>
        <p>Founded in 1860 by Leon Lebrun in Avize, in the heart of the « Cotes des Blancs » which has become later classified Grand Cru Village. His Son Albert, gave his final Name to the House which last and respect the tradition for more than 135 years. Since 2003, House of Champagne Albert Lebrun is part of the Rapeneau Family who has become one of the largest independent grower in the Champagne Region.</p>
        </div>
    </body>
</html>