<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Champagne Albert Lebrun Collection Terroir</title>
</head>
<body>
  <div class="nav_wrapper">
    <ul class="nav_bar">
      <li><a class="logo_home_link" href="/"><img class="logo_home_link" src="/static/img/AL_transparent.png" alt="AL_transparent"></a></li>
      <li><a href="/winery">Winery</a></li>
      <li><a href="/bottle_info">Wine Info</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/email/contact">Contact Us</a></li>
    </ul> 
  </div>
  <div class="parallax">
    <div class="logo_container">
      <img id="logo" src="/static/img/AL_transparent.png" alt="AL_transparent">
    </div>  
  </div>
  <p class="title">Albert Lebrun</p>
  <div class="main_box">
    <img class="grape_img" src="/static/img/grape.jpeg" alt="">
    <!-- <div class="paragraph_wrapper"> -->
      <p class="main_box_p">Putting Nature in the heart of its action to bring the finest, is the ultimate desire of Maison
        Albert Lebrun by unveiling its organic Champagne. This cuvée is the latest creation from
        its prestigious Terroir Collection. This organic Champagne is made exclusively from organic
        viticulture to have a perfect harmony between earth, vineyards and the human.
      </p>
    <!-- </div> -->
  </div> 
  <div class="parallax2"></div>
  <div class="main_box">
    <p class="main_box_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. In ducimus quam explicabo minus culpa cumque. Harum minus minima autem! Ea iste quod doloremque itaque. Repellat corrupti dolor quaerat sint sed?
    </p>
    <img class="grape_img" src="/static/img/grape_img.jpg" alt="">
  </div> 
</body>
<script type="text/javascript" src="{% static 'js/wineApp.js' %}"></script>
</html> 
