<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champagne Albert Lebrun Collection Terroir</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body class="backgound_color">
    <div class="nav_wrapper">
        <ul class="nav_bar">
            <li><a href="/">Home</a></li>
            <li><a href="/winery">Winery</a></li>
            <li><a href="/bottle_info">Wine Info</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/email/contact">Contact Us</a></li>
        </ul>  
    </div>
    <div class="parallax_winery">
        <div class="logo_container">
            <p class="winery_para_text" >Founded in 1860 by Leon Lebrun in Avize, in the heart of the « Cotes des Blancs » which
                has become later classified Grand Cru Village. His Son Albert, gave his final Name to the
                House which last and respect the tradition for more than 135 years. Since 2003, House of
                Champagne Albert Lebrun is part of the Rapeneau Family who has become one of the largest
                independent grower in the Champagne Region.
            </p>
        </div>  
    </div>
    <p class="title">Albert Lebrun</p>
    <div class="winery_image_box">
        <img class="grape_img" src="/static/img/barrels.jpeg" alt="">
        <div class="image_wrapper">
            <img src="/static/img/wine1930.jpeg" alt="1934 wine bottle">
        </div> 
    </div>
    <div class="winery_image_box">
        <div class="image_wrapper">
            <img src="/static/img/oldbottles.jpeg" alt="old bottles">
        </div> 
        <img class="grape_img" src="/static/img/cellarbasement.jpeg" alt="Cellar basement">
    </div>
    <div class="winery_image_box">
        <img class="grape_img" src="/static/img/purplehand.jpeg" alt="">
        <div class="image_wrapper">
            <img src="/static/img/cellarbasement2.jpeg" alt="">
        </div> 
    </div>
</body>
</html>